*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;

}

#fnav{
    display: none;
}

#loader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    animation: anim2 1s cubic-bezier(0.19, 1, 0.22, 1) 7s both;
}

#wrapperload{
    width: 500px;
    height: 100px;
    overflow: hidden;
}

#wrapperload .elem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#wrapperload .elem img{
    width: 60%;
}

#wrapperload .elem:nth-child(1){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 1.5s both;
}

#wrapperload .elem:nth-child(2){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 3s both;
}

#wrapperload .elem:nth-child(3){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 5s both;
}

nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: 100px;
}

nav a{
    text-decoration: none;
}

#lnav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: inherit;
}

#lnav h1{
    font-weight: 800;
    color: rgb(32, 34, 34);
}

#mnav{
    margin-right: 40px;
    width: 150px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mnav a{
    color: #c9c9c9;
    text-decoration: none;
}

#mnav a:hover{
    color: rgb(31, 34, 34);
}

#line{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    margin-top: 2px;
    width: 0;
    height: 2px;
    background-color: rgb(31, 34, 34);
    border-radius: 100px;
}

#mnav a:hover #line{
    width: 11px;
}

#mlink{
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: inherit;
}

#mlink a:hover{
    color: rgb(31, 34, 34);
}

#work h5{
    color: rgb(31, 34, 34);
}

#work h5:hover{
    color: rgb(31, 34, 34);
}

#mlink a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #c9c9c9;
}


#mlink #line{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    margin-top: 2px;
    width: 0;
    height: 2px;
    background-color: rgb(31, 34, 34);
    border-radius: 100px;
}

#mlink a:hover #line{
    width: 100%;
}

#rnav{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: inherit;
}

#l{     
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 20x;
    height: 20px;
}

#menu{
    display: none;
    /* color: #c9c9c9;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s; */
}

#menu:hover{
    color: rgb(31, 34, 34);
}

#oneint{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit  ;
    height: 60%;
}

#oneint h1{
    color: teal;
    margin-top: 50px;
}

#int{
    padding: 0 80px 0px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    width: 95%;
    height: 100%;
}

#f{
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 45%;
    height: 100%;
}

#f1{
    margin-top: -85px;
    width: 30%;
    height: 300px;
    background-color: #fff;
}

#f1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#f2{
    margin-top: 85px;
    width: 30%;
    height: 300px;
}

#f2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#s{
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: relative;
    width: 45%;
    height: 100%;
}

#s1{
    margin-top: 225px;
    width: 30%;
    height: 250px;
    background-color: #fff;
}

#s1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#s2{
    margin-top: -165px;
    width: 30%;
    height: 300px;
}

#s2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#two{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit  ;    
}

#two #int{
    height: 80%;
}

#two #f{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38%;
}

#two #f #f1{
    right: 0;
    position: absolute;
    width: 100%;
    height: 400px;
    margin-top: 0;
}

#two #s1{
    margin-left: -100px;
    width: 400px;
    margin-top: 150px;
    height: 400px;
}

#two #s2{
    margin-top: -100px;
    height: 470px;
}

#three{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit  ;
    height: 60%;
}

#three #int{
    padding-left: 0;
    align-items: flex-start;
}

#three #f{
    margin-top: 50px;
    position: relative;
    width: 35%;
}

#three #f1{
    top: 0;
    right: 0;
    position: absolute;
    width: 350px;
}

#three #s{
    margin-top: 50px;
    align-items: center;
}

#three #s1{
    width: 100%;
    margin: 0;
}

#four{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit  ;
    height: 60%;
}

#four #int{
    height: 100%;
    padding-left: 0;
    align-items: flex-start;
}

#four #f{
    margin-top: 50px;
}

#four #f1{
    margin-top: 0;
    width: 60%;
    height: 250px;
}

#four #s{
    margin-top: 50px;
}

#four #s1{
    margin-top: 0;
    height: 400px;
}

#four #s2{
    margin-top: 0;
    width: 250px;
    height: 200px;
}

#five{
    display: flex;
    align-items: center;
    width: inherit  ;
    height: 60%;
}

#five #f{
    height: 90%;
    width: 40%;
}

#five #f1{
    margin-top: 0;
}

#five #f2{
    margin-top: 0;
    height: 450px;
}

#five #s1{
    margin-top: 0;
    width: 100%;
    height: 300px;
}

#oneint #ex{
    margin-top: 100px;
}

@keyframes anim{
    to{
        margin-top: -100px;
    }
}

@keyframes anim2{
    to{
        transform: translateY(-100%);
    }
}
@media (max-width:600px){

    nav{
        padding: 0;
    }

    #mlink{
        display: none;
    }

    #mnav{
        margin-right: 0;
        width: 120px;
    }

    #mnav a{
        font-size: 12px;
    }
    
    #work h5{
    color: red;
    }

    #work h5:hover{
        color: rgb(31, 34, 34);
    }

    #rnav{
        display: initial;
        display: flex;
    }

    #menu{
        color: #c9c9c9;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
        display: initial;
    }
     
    #fnav{
        display: initial;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        z-index: 99999;
        background-color: rgb(238, 238, 238);
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    }

    #fnav #flinks{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #flinks a{
        text-decoration: none;
        color: #a5a5a5;
        font-weight: 600;
        font-size: 15px;
        margin-top: 10px;
    }

    #flinks a:hover{
        color: teal;
    }

    #flinks a:hover #line{
        width: 100%;
    }

    #flinks a:nth-child(1){
        margin-top: 0;
    }

    #fnavline{
        width: 2px;
        height: 120px;
        background-color: #263826;
        margin-left: 10px;
        margin-top: 10px;
    }

    #fclosediv{
        display: flex;
        align-items: center;
        position: absolute;
        right: 10%;
        bottom: 5%;   
    }

    #fclosediv p{
        font-weight: 700;
        color: rgb(255, 104, 104);
        font-size: 12px;
    }

    #fclosediv i{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: #fff;
        margin-left: 10px;
        background-color: rgb(255, 104, 104);
        box-shadow: 0px 5px 30px rgb(255, 104, 104);
    }

}